/*
profiltext
 */
 h1.mt-4 {
    text-align: center;
}

/*
bild
 */
.center {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

/*
formulär
 */

 .container-fluid {
    max-width: 700px;
}

  input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
/* formulär menyer */
input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

img {
  max-width: 300px;
}
.feedback{
  color: crimson;
}